  <script src="/js/navbar.js"></script>
  <% if (activePage === 'editor') { %>
  <script src="/js/editor.js"></script>
  <% } %>
  <% if (activePage === 'visualizer') { %>
  <script src="/js/dijkstra.js"></script>
  <script src="/js/visualizer.js"></script>
  <% } %>
</body>
</html>
